@media (min-width: 600px) and (max-width: 1100px) {
	html {
		font-size: 14px;
	}
	.about__container, .graph__container, .business-container, .brands-gallery, .reviews {
		flex-wrap: wrap;
		padding-left: 4%;
		padding-right: 4%;
		padding-top: 0;
		justify-content: center;
		margin: 0 auto;
	}
	.about__container {
		padding-top: 50px;
	}
	.about-us__line {
		display: none;
	}
	.about__block {
		padding-right: 10%;
		padding-bottom: 50px;
	}
	.about__block:last-child, .reviews-content {
		padding-bottom: 0;
	}
	.reviews-content {
		min-height: auto;
	}
	.graph-text {
		width: 65%;
	}
	.activity__container .graph-images {
		margin-top: 50px;
	}
	.business-container .business-block, .reviews {
		margin-bottom: 50px;
	}
	.reviews-block {
		min-width: 350px;
		border-right: none;
		border-bottom: 1px solid #e8e8ea;
	}
	.registration-container {
		width: 65%;
	}
	.footer-link {
		display: flex;
		flex-direction: column;
	}
	.footer-link  div {
		margin-bottom: 20px;
	}
	.footer-menu__block {
		margin-right: 4%;
	}		
}